@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Rols</h1>

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input hidden asp-for="Id"></input>


    <partial name="Partial_Views/Create_Edit_Partial"></partial>
    <div class="mt-2">
        <a asp-action="AddOrRemoveUsers" class="btn btn-info"  asp-route-roleId="@Model.Id">Add Or Remove @Model.Name Role To Users</a>
    </div>
    <br/>

    <div class="form-group mt-2">
        <button class="btn btn-success" type="submit">Submit</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>


@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}