
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<h1>Please Check Your Inbox</h1>
		<br/>
		<p><a asp-action="Login">Go Login Now</a></p>

	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

