@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="ForgetPassword" method="post">
			
			<input asp-for="Email" placeholder="Email" required="">
			<span class="text-danger" asp-validation-for="Email"></span>
			<input type="submit" value="Send Email To Reset Password">
		</form>
		<p><a asp-action="Login">Cancel</a></p>
		<br/>
		<p>Dont have an Account? <a asp-action="Register">Register Now !</a></p>
		<br/>
	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


